In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import warnings

In [2]:
data = pd.read_csv('nft_sales.csv')

C:\Users\User\AppData\Local\Temp\ipykernel_4000\1749638866.py:1: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('nft_sales.csv')

In [3]:
data.head()

,Unnamed: 0,collection_slug,collection_name,collection_url,asset_id,asset_name,asset_description,asset_contract_date,asset_url,asset_img_url,event_id,event_time,event_auction_type,event_contract_address,event_quantity,event_payment_symbol,event_total_price
0,0,rarible,Rarible,https://opensea.io/collection/rarible,18214580,Daft Punk Never Die,"Piece of art, Daft Punk, always in our hears.\...",2020-05-27T16:53:32.834583,https://opensea.io/assets/0xd07dc4262bcdbf8519...,https://lh3.googleusercontent.com/DRaz3AD6SNrC...,80762268,2021-02-27T23:59:19.806617,dutch,0xcd4ec7b66fbc029c116ba9ffb3e59351c20b5b06,1,ETH,0.070000
1,1,rarebit-bunnies,Rarebit Bunnies,https://opensea.io/collection/rarebit-bunnies,18276844,Rarebit #164 - Wax Off Bunny,üêá‚ô•Ô∏è When it comes to high kicks this Rarebit's...,2021-01-21T20:43:08.113711,https://opensea.io/assets/0x61bd6b10c7bf3e548f...,https://lh3.googleusercontent.com/zI7j5Gc8jcJ_...,80762142,2021-02-27T23:58:48.806004,dutch,0xcd4ec7b66fbc029c116ba9ffb3e59351c20b5b06,1,ETH,0.150000
2,2,rarible,Rarible,https://opensea.io/collection/rarible,16911700,Meditation,Meditation by Diana.\n\nMinted only 20 NFT col...,2020-05-27T16:53:32.834583,https://opensea.io/assets/0xd07dc4262bcdbf8519...,https://lh3.googleusercontent.com/VxNjqW9b0yKv...,80762131,2021-02-27T23:58:46.805355,dutch,0xcd4ec7b66fbc029c116ba9ffb3e59351c20b5b06,1,ETH,0.001000
3,3,rarible,Rarible,https://opensea.io/collection/rarible,16986936,I¬¥m OG,This is one of the first NFTs in human history,2020-05-27T16:53:32.834583,https://opensea.io/assets/0xd07dc4262bcdbf8519...,https://lh3.googleusercontent.com/lwLuEUsHn2bd...,80762121,2021-02-27T23:58:45.675259,dutch,0xcd4ec7b66fbc029c116ba9ffb3e59351c20b5b06,1,ETH,0.000647
4,4,chainguardians,ChainGuardians,https://opensea.io/collection/chainguardians,13382164,Celia B100 #105,One of the original androids created within th...,2019-11-17T21:00:18.404059,https://opensea.io/assets/0x4fe99deb8f0be517c3...,https://lh3.googleusercontent.com/ODEhFsO_E_O8...,80762099,2021-02-27T23:58:43.700969,NaN,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,1,ETH,0.200000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108147 entries, 0 to 108146
Data columns (total 17 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Unnamed: 0              108147 non-null  int64
 1   collection_slug         108147 non-null  object
 2   collection_name         108147 non-null  object
 3   collection_url          108147 non-null  object
 4   asset_id                108147 non-null  int64
 5   asset_name              107776 non-null  object
 6   asset_description       101491 non-null  object
 7   asset_contract_date     108147 non-null  object
 8   asset_url               108147 non-null  object
 9   asset_img_url           107986 non-null  object
 10  event_id                108147 non-null  int64
 11  event_time              108147 non-null  object
 12  event_auction_type      70980 non-null   object
 13  event_contract_address  108132 non-null  object
 14  event_quantity          108147 non-null  object
 15  event_payment_symbol    108132 non-null  object
 16  event_total_price       108143 non-null  float64
dtypes: float64(1), int64(3), object(13)
memory usage: 14.0+ MB

In [5]:
data.describe()

          Unnamed: 0      asset_id      event_id  event_total_price
count  108147.000000  1.081470e+05  1.081470e+05       1.081430e+05
mean    46980.453781  1.632008e+07  7.926374e+07       2.554018e+02
std     30403.159967  4.079440e+06  1.113193e+06       1.475289e+04
min         0.000000  9.210000e+02  7.740268e+07       0.000000e+00
25%     19405.500000  1.696152e+07  7.832259e+07       3.300000e-02
50%     46442.000000  1.772870e+07  7.930960e+07       1.000000e-01
75%     73478.500000  1.797027e+07  8.038010e+07       5.000000e-01
max    100515.000000  1.830540e+07  8.104380e+07       2.890620e+06

In [9]:
# calculate the total number of null values in each column
data.isnull().sum()

Unnamed: 0                    0
collection_slug               0
collection_name               0
collection_url                0
asset_id                      0
asset_name                  371
asset_description          6656
asset_contract_date           0
asset_url                     0
asset_img_url               161
event_id                      0
event_time                    0
event_auction_type        37167
event_contract_address       15
event_quantity                0
event_payment_symbol         15
event_total_price             4
dtype: int64

In [11]:
# summerise event_total_price 
data['event_total_price'].sum()

27619914.359243393

In [12]:
# event_payment_symbol value counts
data['event_payment_symbol'].value_counts()

ETH       100024
WETH        6385
MANA         455
DAI          273
SAND         162
USDC         140
UNI          111
PGU           98
RARI          76
ELAND         73
GALA          39
REVV          39
ABST          36
MEME          34
BONDLY        27
DENA          18
ECAT          18
ARCONA        17
SMTS          12
ROPE          10
TRSH           8
ENJ            7
WHALE          6
KLTR           5
ART            5
MGDv2          5
CUBE           4
SKULL          4
ATRI           4
ASLT           4
MORK           3
WCK            3
DHC            3
PPDEX          3
HUE            2
SURF           2
GR1M           2
GUSD           2
BAT            1
KAP            1
MBC            1
WIPC           1
FTM            1
CRED           1
0xBTC          1
VI             1
FUD            1
YUMI           1
NUGS           1
BONES          1
NDR            1
Name: event_payment_symbol, dtype: int64